$text-dark: #403F3D
$text-light: #E1D4C9
$text-accent: #B0907A
$background-body:#E1D4C9
$background-container:#665F55
$background-backdrop:rgba(64, 63, 61, 0.80)
$border-light:#C1B6AD
$border-dark:#665F55
$font-stack: Inter, serif

html 
  scroll-behavior: smooth


body
  background-color:$background-body
  font-family: $font-stack
  

.wrapper
  width: 1360px
  margin: 0 auto

/*header css*/ 
.header
  display: flex
  justify-content: space-between
  align-items: center
  margin: 17px 0 20px 0

nav ul
  display: flex
  gap: 40px
  li 
    list-style: none
    a
      text-decoration: none
      color: $text-dark
      font-size: 16px
      font-style: normal
      font-weight: 600
      line-height: 150%
      cursor: pointer
    :hover
      text-decoration: underline 2px

      
      
.coffeeMenu
  display: flex
  gap: 8px

/*welcom css*/
.welcom
  background-image: url(./assets/img/img-hero.svg)
  border-radius: 42px
  height: 644px
  background-position: -70px -40px
  background-repeat: no-repeat
  max-width: 1360px

i
  color: $text-accent


h2
  color: $text-light
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 72px
  //font-style: italic
  font-weight: 600
  line-height: 105%
  margin: 0
  letter-spacing: -0.5px

.welcomText
  height: 444px
  width: 530px
  display: flex
  margin: 100px 0 0 100px
  //align-items: center
  flex-direction: column
  gap: 40px
  position: absolute

p
  color: $text-light
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 150%
  margin: 0

.btnMenu
  background-color: $background-body
  width: 200px
  height: 64px
  border-radius: 50px
  border: 0px
  // display: flex
  // gap: 8px
  // justify-content: center
  // align-items: center
  img
    display: none


  /*favorite coffee css*/
h3
  color: $text-dark
  text-align: center
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 60px
  font-style: normal
  font-weight: 600
  line-height: 125%
  margin: 100px 0 35px 0

h4
  color: $text-dark
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 24px
  font-style: normal
  font-weight: 600
  line-height: 125%
  margin-top: 0px
  margin-bottom: 0px

.slider
  display: flex
  justify-content: space-between
  align-items: center

.sliderLeft
  rotate: 180deg
  width: 60px
  height: 60px
  padding-top: 0px
  padding-right: 5px

.sliderRight
  // rotate: 180deg
  width: 60px
  height: 60px
  padding-bottom: 0px
  padding-right: 5px

.favoriteCoffee
  display: flex
  flex-direction: column
//   justify-content: space-between
//   align-items: center

.slides
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  max-width: 480px
  gap: 16px
  img
    height: 480px
    width: 480px
    margin-bottom: 10px


.sliderText
  color: $text-dark
  text-align: center
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 150%
  margin-bottom: 0px

hr
  width: 40px
  height: 10px
  border-radius: 100px
  background: $border-light

.btnCarousel
  width: 40px
  height: 4px
  border-radius: 100px
  background: $border-light
.active
  background: $border-dark

.carousel
  display: flex
  justify-content: center
  gap: 12px
  margin-top: 40px
  // text-align: center

/* about css*/
.aboutHead
  text-align: justify
  letter-spacing: -0.3px
  margin-bottom: 39px

.aboutImages
  display: flex
  gap: 40px
  // flex-wrap: wrap

.aboutImages1
  display: flex
  gap: 40px
  flex-direction: column

.aboutImages2
  display: flex
  gap: 40px
  flex-direction: column
  // flex-flow: column wrap

.aboutImg
  width: 660px
  height: 590px
  border-radius: 20px

.image1
  background-image: url(./assets/img/about-1.jpg)
  background-position: -33px -68px

.image2
  background-image: url(./assets/img/about-2.jpg)
  height: 430px
  background-position: -33px -148px

.image3
  background-image: url(./assets/img/about-3.jpg)
  height: 430px
  background-position: -33px -148px

.image4
  background-image: url(./assets/img/about-4.jpg) 
  background-position: -33px -68px

/*css mobile app*/

.mobileApp
  display: flex
  flex-direction: row
  gap: 100px 
  margin: 100px 0 0 0

.mobileAppText
  display: flex
  flex-direction: column
  gap: 40px

.mobileAppHead
  text-align: justify
  padding-top: 44px
  letter-spacing: -0.2px
  margin-bottom: 0px 

.AppText
  color: $text-dark
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 150%

.btnApple,
.btnGoogle
  display: flex
  flex-direction: row
  width: 200px
  padding: 12px 20px
  align-items: center
  gap: 8px
  border-radius: 100px
  border: 1px solid $border-dark
  cursor: pointer
  transition-duration: 0.4s

.mobileAppBtn
  button:hover
    
    background: $background-container
    // opacity: 0.6
    .buttonText
      color: $text-light
    img
      // background-image: url(./assets/img/icon_google_light.png)
    


.buttonText
  color: $text-dark
  text-align: center
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 10px
  font-style: normal
  font-weight: 600
  line-height: 140%
  transition-duration: 0.4s
  b
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 150%

.mobileAppBtn
  display: flex
  gap: 20px

/* css contact Us*/
.contactUs
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 100px
  background: $background-container
  border-radius: 40px
  margin: 96px 0 0 0

.offer
  padding: 100px 0 81px 100px
  width: 530px

.contactInfo
  width: 530px
  padding: 71px 100px 81px 0
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 40px

.offerHead
  color: $text-light
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 60px
  font-style: normal
  font-weight: 600
  line-height: 125%

.socialMediaS 
  display: flex
  flex-direction: row
  align-items: flex-start
  gap: 12px
  padding-left: 0px
  li
    list-style: none

.socialMediaS
  li
    a
      img:hover
        // background-color: $background-body
        color: $text-dark
        opacity: 0.5
        border-radius: 100px
        transition-duration: 0.4s
        // flex-shrink: 0
        // text-decoration: none


.socialMedia
  margin: 40px 0 0 0

.contactInfoHead
  color: $text-light
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 24px
  font-style: normal
  font-weight: 600
  line-height: 125%

.contactInfoBody
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 16px

.contactInfoAddres
  a
    text-decoration: none
    color: $text-light
    font-feature-settings: 'clig' off, 'liga' off
    font-family: $font-stack
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 150%
    transition-duration: 0.4s
    ::before
      transition: transform 300ms ease-in-out
      transform: scaleX(0)
    :hover::before
      transform: scaleX(1)
    :focus::before
      transform: scaleX(1)


.contactInfoTel
  a
    text-decoration: none
    color: $text-light
    font-feature-settings: 'clig' off, 'liga' off
    font-family: $font-stack
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 150%
    

.jobTime
  display: flex
  gap: 8px
  // padding-top: 5px 
  p
    color: $text-light
    font-feature-settings: 'clig' off, 'liga' off
    font-family: $font-stack
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 150%
  img
    height: 20px
    width: 20px
