$text-dark: #403F3D
$text-light: #E1D4C9
$text-accent: #B0907A
$background-body:#E1D4C9
$background-container:#665F55
$background-backdrop:rgba(64, 63, 61, 0.80)
$border-light:#C1B6AD
$border-dark:#665F55
$font-stack: Inter, serif

html 
  scroll-behavior: smooth


body
  background-color:$background-body
  font-family: $font-stack
  

.wrapper
  width: 1360px
  margin: 0 auto

/*header css*/ 
.header
  display: flex
  justify-content: space-between
  align-items: center
  margin: 17px 0 20px 0

nav ul
  display: flex
  gap: 40px
  li 
    list-style: none
    a
      text-decoration: none
      color: $text-dark
      font-size: 16px
      font-style: normal
      font-weight: 600
      line-height: 150%
      cursor: pointer
    :hover
      text-decoration: underline 2px

      
      
.coffeeMenu
  display: flex
  gap: 8px

/*welcom css*/
.welcom
  background-image: url(/assets/img/53de184b52e70f8c6142237a41f29303.jpeg)
  border-radius: 42px
  height: 644px
  background-position: -40px -35px
  background-repeat: no-repeat

i
  color: $text-accent


h2
  color: $text-light
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 72px
  //font-style: italic
  font-weight: 600
  line-height: 105%
  margin: 0

.welcomText
  height: 444px
  width: 530px
  display: flex
  margin: 100px 0 0 100px
  //align-items: center
  flex-direction: column
  gap: 40px
  position: absolute

p
  color: $text-light
  font-feature-settings: 'clig' off, 'liga' off
  font-family: $font-stack
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 150%
  margin: 0

.btnMenu
  background-color: $background-body
  width: 200px
  height: 64px
  border-radius: 50px
  border: 0px
  // display: flex
  // gap: 8px
  // justify-content: center
  // align-items: center
  img
    display: none